h1 {
    color: rgb(223, 93, 56);
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
  
.smiley-face {
    background: url(smiley.png) no-repeat center/contain;
    height: 100px;
}