@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.container {  
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 1660px) {
  .container {
    max-width: 1600px;
  }
}

.header {
  background: rgb(214, 214, 214);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}

.homepage {
  text-align: center;
}

.homepage__text {
  color: rgb(105, 105, 105);
}

.products {
  padding-top: 50px;
}

.products__list {
  margin: 0;
  padding: 0;
}

.products__item {
  list-style-type: none;
  margin-bottom: 20px;
}

.products__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  color: #000;
}

.products__link:hover {
  color:rgb(105, 105, 105);
}

.products__img {
  width: 100%;
  height: auto;
}

.products__text {
  padding-top: 15px;
}